<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479739453967-s9neet64e0bn78dcqd6f01gkso7obqu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479739453967-s9neet64e0bn78dcqd6f01gkso7obqu4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>479739453967-g4fr6ngsc6he6kbu700snilc5nmlvd6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAiZMFUQqej1yECczZjBiq9aLLl8coZ34Y</string>
	<key>GCM_SENDER_ID</key>
	<string>479739453967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teste</string>
	<key>PROJECT_ID</key>
	<string>falter-12eff</string>
	<key>STORAGE_BUCKET</key>
	<string>falter-12eff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479739453967:ios:6bcd7721240b2382a3b97a</string>
</dict>
</plist>